terraform {
  required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = "~> 2.65"
    }
  }

  required_version = ">= 1.1.0"
  backend "azurerm" {
    resource_group_name  = "{{ env("CI_PROJECT_NAME") }}-backend"
    storage_account_name = "projectbackend"
    container_name       = "{{ env("CI_PROJECT_NAME") }}-tfstate"
    key                  = "{{ env("ENVIRONMENT_PREFIX") }}-tfstate"
  }
}

provider "azurerm" {
  features {}
}