resource "azurerm_resource_group" "{{ env("CI_PROJECT_NAME") }}" {
  name     = var.resource_group
  location = var.location
}

resource "azurerm_virtual_network" "vnet" {
  name                = var.virtual_network_name
  location            = azurerm_resource_group.{{ env("CI_PROJECT_NAME") }}.location
  address_space       = ["${var.address_space}"]
  resource_group_name = azurerm_resource_group.{{ env("CI_PROJECT_NAME") }}.name
}
resource "azurerm_subnet" "subnet" {
  name                 = "${var.prefix}-sg"
  virtual_network_name = azurerm_virtual_network.vnet.name
  resource_group_name  = azurerm_resource_group.{{ env("CI_PROJECT_NAME") }}.name
  address_prefixes     = var.subnet_prefix
}
resource "azurerm_network_security_group" "tf-ansible-sg" {
  name                = "${var.prefix}-sg"
  location            = var.location
  resource_group_name = azurerm_resource_group.{{ env("CI_PROJECT_NAME") }}.name

  security_rule {
    name                       = "HTTP"
    priority                   = 100
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "80"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
  security_rule {
    name                       = "SSH"
    priority                   = 101
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "22"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
}
resource "azurerm_subnet_network_security_group_association" "sec-group-association" {
  subnet_id                 = azurerm_subnet.subnet.id
  network_security_group_id = azurerm_network_security_group.tf-ansible-sg.id
}


