resource "azurerm_network_interface" "tf-tomcat-nic" {
  name                = "${var.prefix}tf-tomcat-nic"
  location            = var.location
  resource_group_name = azurerm_resource_group.{{ env("CI_PROJECT_NAME") }}.name
  ip_configuration {
    name                          = "${var.prefix}ipconfig"
    subnet_id                     = azurerm_subnet.subnet.id
    private_ip_address_allocation = "Dynamic"
    public_ip_address_id          = azurerm_public_ip.tomcat.id
  }
}

resource "azurerm_public_ip" "tomcat" {
  name                = "${var.prefix}-tomcat-ip"
  location            = var.location
  resource_group_name = azurerm_resource_group.{{ env("CI_PROJECT_NAME") }}.name
  allocation_method   = "Dynamic"
  #domain_name_label   = "tomcat${random_integer.server.result}"
}

resource "azurerm_linux_virtual_machine" "tomcat" {
  name                  = "${var.tomcat-hostname}-site"
  location              = var.location
  resource_group_name   = azurerm_resource_group.{{ env("CI_PROJECT_NAME") }}.name
  size                  = var.vm_size
  count                 = var.tomcat-count
  admin_username        = var.admin_username
  network_interface_ids = ["${azurerm_network_interface.tf-tomcat-nic.id}"]

  source_image_reference {
    publisher = var.image_publisher
    offer     = var.image_offer
    sku       = var.image_sku
    version   = var.image_version
  }

  os_disk {
    name                 = "${var.tomcat-hostname}-osdisk"
    caching              = "ReadWrite"
    storage_account_type = "Standard_LRS"
  }

  admin_ssh_key {
    username   = var.admin_username
    public_key = file("~/.ssh/id_rsa.pub")
  }

  provisioner "remote-exec" {
    inline = [
      "sudo apt update; apt upgrade -y ",
      "sudo apt install -y python3"
    ]
    connection {
      host        = self.public_ip_address
      user        = self.admin_username
      private_key = file("~/.ssh/id_rsa")
    }
  }
}
# ip collection for ansible inventory
data "azurerm_public_ip" "tomcat" {
  count               = var.tomcat-count
  name                = element(azurerm_public_ip.tomcat.*.name, count.index)
  resource_group_name = azurerm_resource_group.{{ env("CI_PROJECT_NAME") }}.name
}
